
<div class="container">
    <div class="box1">
        <div class="image1"></div>
        <button class="btn btn-success btn-block"><a class="nav-link" style="color: white" routerLink="/works/cenzor">details</a></button>
    </div>
    <div class="box2">
            <div class="image2"></div>
        <button class="btn btn-success btn-block"><a class="nav-link" style="color: white" routerLink="/works/userslist">details</a></button></div>
    <div class="box3">
            <div class="image3"></div>
        <button class="btn btn-success btn-block"><a class="nav-link" style="color: white" routerLink="/works/tasklist">details</a></button></div>
</div>